<div class="container">

  <h1 class="display-3">Bienvenído</h1>
  <p class="lead">Gestión de Pacientes.</p>
  <hr style="color: #0056b2;" />

  <div class="row mt-4">
    <p-button class="mx-1" icon="pi pi-user-plus" styleClass="p-button-rounded" 
    (onClick)="handleClickContact('CREATE')" [disabled]="contactAction === 'CREATE'"></p-button>

    <p-button class="mx-1" icon="pi pi-list" styleClass="p-button-rounded p-button-success" 
    (onClick)="handleClickContact('LIST')" [disabled]="contactAction === 'LIST'"></p-button>

    <p-button class="mx-1" icon="pi pi-user-edit" styleClass="p-button-rounded p-button-help"
    (onClick)="handleClickContact('DASHBOARD')" [disabled]="contactAction === 'DASHBOARD'"></p-button>
  </div>

  <ng-container [ngSwitch]="contactAction">
    <div *ngSwitchCase="'CREATE'">
      <pacient-create></pacient-create>
    </div>

    <div *ngSwitchCase="'LIST'">
      <pacient-list></pacient-list>
    </div>

    <div *ngSwitchCase="'DASHBOARD'">
      <pacient-dash></pacient-dash>
    </div>

    <div *ngSwitchDefault>
      Default!
    </div>

  </ng-container>

  <hr style="color: #0056b2;" />
  <p class="lead">
    <img src="https://play-lh.googleusercontent.com/A9kmwxo2f7DyIa3c6QCq3-mCQ3MenMPzQ5w8BBmdXs2KJEH1WIchR2ncM9uSACdXinn6" alt="Generic placeholder image" width="60" height="60"> Gestión de Citas.
  </p>
  <hr style="color: #0056b2;" />


</div>
