<div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>

        <div class="card-body">
            <h5 class="card-title text-center">Registro de Cita</h5>
            <form [formGroup]="citaForm">
  
            <div class="container"> <!------------------->

              <div class="row my-4"> <!------------------->
                
                <div class="col">
                  <span class="p-float-label">
                    <input pInputText type="text" id="inputUserame" class="form-control" required autofocus
                      formControlName="query_type">
                    <label for="inputUserame">Tipo de Consulta</label>
                  </span>
                </div>

                <div class="col">
                  <span class="p-float-label">
                    <input pInputText type="text" id="inputPassword" class="form-control" required
                      formControlName="lastname">
                    <label for="inputPassword">Apellido</label>
                  </span>
                </div>

              </div> <!------------------->

              <div class="row my-4"> <!------------------->

                <div class="col">
                    <span class="p-float-label">
                      <input pInputText type="text" id="inputConfirmPassword" class="form-control" required
                        formControlName="cedula">
                      <label for="inputConfirmPassword">Cédula</label>
                    </span>
                </div>

                <div class="col">
                  <span class="p-float-label">
                    <input pInputText type="text" id="inputConfirmPassword" class="form-control" required
                      formControlName="gender">
                    <label for="inputConfirmPassword">Género</label>
                  </span>
                </div>

              </div> <!------------------->

              <div class="row my-4"> <!------------------->

                <div class="col">
                    <span class="p-float-label">
                      <p-dropdown [options]="listEspe" optionLabel="name" [autoDisplayFirst]="false" inputId="Especialidad"
                        optionValue="code" formControlName="especiality"></p-dropdown>
                      <label for="Especialidad">Especialidad</label>
                    </span>
                </div>

                <div class="col">
                  <span class="p-float-label">
                    <input pInputText type="text" id="nombre" class="form-control" required autofocus
                      formControlName="email">
                    <label for="nombre">Correo Electrónico</label>
                  </span>
                </div>

               </div> <!------------------->

               <div class="row my-4"> <!------------------->

                <div class="col">
                  <span class="p-float-label">
                    <input pInputText type="text" id="nombre" class="form-control" required autofocus
                      formControlName="phone">
                    <label for="nombre">Numero de Telefono</label>
                  </span>
                </div>

                <div class="col">
                  <span class="p-float-label">
                    <input pInputText type="text" id="telefono" class="form-control" required autofocus
                      formControlName="address">
                    <label for="telefono">Direccion</label>
                  </span>
                </div>

              </div> <!------------------->

              <div class="row my-4"> <!------------------->

                <div class="col">
                  <span class="p-float-label">
                    <p-dropdown [options]="listSchedule" optionLabel="name" [autoDisplayFirst]="false" inputId="horario_entrada"
                      optionValue="code" formControlName="schedule_start"></p-dropdown>
                    <label for="horario_entrada">Hora de Entrada</label>
                  </span>
                </div>

                <div class="col">
                  <span class="p-float-label">
                    <p-dropdown [options]="listSchedule" optionLabel="name" [autoDisplayFirst]="false" inputId="horario_salida"
                      optionValue="code" formControlName="schedule_end"></p-dropdown>
                    <label for="horario_salida">Hora de Salida</label>
                  </span>
                </div>

              </div> <!------------------->
            </div> <!------------------->

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
              (click)="handleClickSaveCita()">Registrar Cita</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  