<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">

        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 style="font-family:verdana" class="my-3">SIS-MEG</h5>
              <p class="text-muted mb-1">Bienvenído</p>
              <div class="d-flex justify-content-center mb-2">
              <img src="https://pbs.twimg.com/media/Fkq8BS4XkAEW-BA.jpg" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <h1>Elegir la función</h1>
        
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a routerLink="/medico" routerLinkActive="active-link" class="nav-link" href="#">Médico</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/paciente" routerLinkActive="active-link" class="nav-link" href="#">Paciente</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Administrador</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Asistente</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  