<div class="container">

<ul style="margin-top: 20px; margin-bottom: 20px;" class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/admin" routerLinkActive="active-link" class="nav-link" href="#">Gestor de Módulos</a>
    </li>
    <li class="nav-item">
      <a routerLink="/medico" routerLinkActive="active-link" class="nav-link" href="#">Médico</a>
    </li>
    <li class="nav-item">
      <a routerLink="/paciente" routerLinkActive="active-link" class="nav-link" href="#">Paciente</a>
    </li>
    <li class="nav-item">
      <a routerLink="/citas" routerLinkActive="active-link" class="nav-link active" href="#">Citas</a>
    </li>
</ul>

</div>