    <main role="main">
    
    <div style="margin-top: 10px;">
    </div>

    <!-- CAROUSEL-->  

    <div style="width: 1280px; height: 320px; margin: 0 auto">
      <image-slider [slides]="slides"></image-slider>
    </div>


    <div style="margin: 40px;">
    </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
      <style>
  .card {
    background-color: #ffffff;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }

  .card-body {
    text-align: center;
  }

  .display-3 {
    font-size: 40px;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 20px;
  }
</style>

<div style = "margin-bottom: 20px" class="card">
  <div class="card-body">
    <h1 class="display-3">SIS-MEG, Ofrecemos lo siguiente:</h1>
  </div>
</div>

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img style= "opacity: 0.4;" src="https://cdn-icons-png.flaticon.com/512/489/489848.png" alt="Generic placeholder image" width="40" height="40">
            <h2>Agendar una Cita</h2>
        
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img style= "opacity: 0.4;" src="https://img.icons8.com/?size=512&id=3062&format=png" alt="Generic placeholder image" width="40" height="40">         
            <h2>Cancelar una cita</h2>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img style= "opacity: 0.4;" src="https://img.icons8.com/?size=512&id=12491&format=png" alt="Generic placeholder image" width="40" height="40">        
            <h2>Reagendar una cita</h2>

          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img style= "opacity: 0.4;" src="https://img.icons8.com/?size=512&id=34990&format=png" alt="Generic placeholder image" width="40" height="40">          
            <h2>Historial de citas</h2>
    
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img style= "opacity: 0.4;" src="https://img.icons8.com/?size=512&id=23264&format=png" alt="Generic placeholder image" width="40" height="40">          
            <h2>Mis Datos</h2>

          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Tu salud,  <span class="text-muted">nuestra prioridad</span></h2>
            <p class="lead">Descubre un centro médico de vanguardia, donde expertos cuidan de ti con atención personalizada y tecnología de última generación.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/vector-gratis/paciente-dibujado-mano-plana-tomando-examen-medico_52683-57829.jpg?w=1060&t=st=1690173841~exp=1690174441~hmac=ad644a72ebb6aa0138b1330f07f5d5c28c5cf066968443c480bf7428d80e5e5a">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Bienestar a tu alcance, <span class="text-muted">para mejorar tu salud.</span></h2>
            <p class="lead">En nuestro centro médico, encontrarás un espacio acogedor y servicios integrales para mantener tu bienestar en óptimas condiciones.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/vector-gratis/ilustracion-concepto-doctor_114360-1072.jpg?w=740&t=st=1690174018~exp=1690174618~hmac=1be9e1dc7aaa3033d98037cde9b2afde4d63175a3ac4bb9f96edac7bbb04c27b">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Bienestar para toda la familia, <span class="text-muted">sientete seguro de tu salud.</span></h2>
            <p class="lead">Un lugar donde tu familia es nuestra familia. Descubre un Centro Médico que se preocupa por cada miembro de tu hogar, ofreciendo servicios médicos para todas las edades y necesidades.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/vector-gratis/diseno-plano-dia-internacional-concepto-familia_23-2148492790.jpg?w=740&t=st=1690174049~exp=1690174649~hmac=4b2535597c4313994fbbe0f101e5bf52dc06e6ae3cb064e2db230cf335e47059">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2023 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>