<div class="row">
  <div class="col-lg-10 col-xl-9 mx-auto">
    <div class="card card-signin flex-row my-5">
      <div class="card-img-left d-none d-md-flex">
        <!-- Background image for card set in CSS! -->
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Lista de Pacientes</h5>
        <p-table [value]="pacients" selectionMode="single" dataKey="id_pacient" (onRowSelect)="onRowSelect($event)">
          <ng-template pTemplate="header">
            <tr>
              <th><b>UUID</b></th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Sangre</th>
              <th>Peso</th>
              <th>HTA</th>
              <th>CIE Code</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pacient>
            <tr [pSelectableRow]="pacient">
              <td>{{pacient.id_pacient}}</td>
              <td>{{pacient.name}}</td>
              <td>{{pacient.lastname}}</td>
              <td>{{pacient.blood_type}}</td>
              <td>{{pacient.weight}}</td>
              <td>{{pacient.HTA}}</td>
              <td>{{pacient.cie_code}}</td>
              <td>
                <p-button class="mx-1" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"
                (click)="handleClickDeletePacient(pacient.id_pacient)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
